.button-container {
    display: inline-flex;
    flex-direction: row;
    gap: 5px;
}

button {
    border-radius: 50px;
    height: 30px;
    width: auto;
    border: 3px solid black;
    margin: 10px;
}

.blue-button {
    background-color: blue;
    color: white; 
  }

/* .red-button {
    background-color: red;
    color: black;
} */
  